<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Components | National Geographic</title>
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d3b0ff7f98.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div>
            <h1>

            </h1>
            <nav>
                <section>
                    <h2>Typography</h2>
                    <ul>
                        <li>h1, h2, h3, ...</li>
                        <li>body</li>
                        <li>a</li>
                    </ul>
                </section>
                <section>
                    <h2>Atoms</h2>
                    <ul>
                        <li>logomark</li>
                        <li>section-header</li>
                        <li>section-body</li>
                        <li>button</li>
                        <li>social-icon</li>
                    </ul>
                </section>
                <section>
                    <h2>Page Header</h2>
                    <ul>
                        <li>page-header</li>
                    </ul>
                </section>
                <section>
                    <h2>Main Nav</h2>
                    <ul>
                        <li>main-nav</li>
                        <li>main-nav__list</li>
                        <li>main-nav__list--education</li>
                        <li>main-nav__list--events</li>
                        <li>main-nav__list--funding-opportunities</li>
                        <li>main-nav__button</li>
                        <li>main-nav__account</li>
                    </ul>
                </section>
                <section>
                    <h2>Feature Section</h2>
                    <ul>
                        <li>feature-section</li>
                        <li>feature-section__contents</li>
                        <li>feature-section--justified-left</li>
                        <li>feature-section--justified-right</li>
                        <li>feature-section--hero</li>
                    </ul>
                </section>
                <section>
                    <h2>Project Carousel</h2>
                    <ul>
                        <li>project-carousel</li>
                        <li>project-carousel__card</li>
                        <li>project-carousel__arrow</li>
                    </ul>
                </section>
                <section>
                    <h2>Form</h2>
                    <ul>
                        <li>form</li>
                        <li>form__content</li>
                        <li>form__input-title</li>
                        <li>form__input-block</li>

                    </ul>
                </section>
                <section>
                    <h2>Social Grid</h2>
                    <ul>
                        <li>social-grid</li>
                        <li>social-grid__card</li>
                        <li>social-grid__image</li>
                        <li>social-grid__contents--quarter</li>
                        <li>social-grid__contents--half</li>
                    </ul>
                </section>
                <section>
                    <h2>Page Footer</h2>
                    <ul>
                        <li>page-footer</li>
                        <li>page-footer__links</li>
                        <li>social-list</li>
                    </ul>
                </section>
            </nav>
        </div>
    </header>


</body>

</html>