<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Components | National Geographic</title>
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d3b0ff7f98.js" crossorigin="anonymous"></script>
</head>

<body class="components-page">
    <header class="components-page__header">
        <div class="components-page__header-container">
            <h1>

            </h1>
            <nav class="sidebar-nav component-page__nav">
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Typography</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">h1, h2, h3, ...</a></li>
                        <li><a href="#!">body</a></li>
                        <li><a href="#!">a</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Atoms</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">logomark</a></li>
                        <li><a href="#!">section-header</a></li>
                        <li><a href="#!">section-body</a></li>
                        <li><a href="#!">button</a></li>
                        <li><a href="#!">social-icon</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Page Header</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">page-header</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Main Nav</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">main-nav</a></li>
                        <li><a href="#!">main-nav__list</a></li>
                        <li><a href="#!">main-nav__list--education</a></li>
                        <li><a href="#!">main-nav__list--events</a></li>
                        <li><a href="#!">main-nav__list--funding-opportunities</a></li>
                        <li><a href="#!">main-nav__button</a></li>
                        <li><a href="#!">main-nav__account</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Feature Section</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">feature-section</a></li>
                        <li><a href="#!">feature-section__contents</a></li>
                        <li><a href="#!">feature-section--justified-left</a></li>
                        <li><a href="#!">feature-section--justified-right</a></li>
                        <li><a href="#!">feature-section--hero</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Project Carousel</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">project-carousel</a></li>
                        <li><a href="#!">project-carousel__card</a></li>
                        <li><a href="#!">project-carousel__arrow</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Form</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">form</a></li>
                        <li><a href="#!">form__content</a></li>
                        <li><a href="#!">form__input-title</a></li>
                        <li><a href="#!">form__input-block</a></li>

                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Social Grid</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">social-grid</a></li>
                        <li><a href="#!">social-grid__card</a></li>
                        <li><a href="#!">social-grid__image</a></li>
                        <li><a href="#!">social-grid__contents--quarter</a></li>
                        <li><a href="#!">social-grid__contents--half</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Page Footer</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">page-footer</a></li>
                        <li><a href="#!">page-footer__links</a></li>
                        <li><a href="#!">social-list</a></li>
                    </ul>
                </section>
            </nav>
        </div>
    </header>



</body>

</html>