<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Components | National Geographic</title>
    <link href="../css/normalize.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d3b0ff7f98.js" crossorigin="anonymous"></script>
</head>

<body class="components-page">
    <header class="components-page__header">
        <div class="components-page__header-container">
            <h1>
                <img src="img/logomark.png" alt="National Geographic Logo" />
            </h1>
            <nav class="sidebar-nav component-page__nav">
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#typography">Typography</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#headings">h1, h2, h3, ...</a></li>
                        <li><a href="#body">body</a></li>
                        <li><a href="#a">a</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Atoms</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">logomark</a></li>
                        <li><a href="#!">section-header</a></li>
                        <li><a href="#!">section-body</a></li>
                        <li><a href="#!">button</a></li>
                        <li><a href="#!">social-icon</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Page Header</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">page-header</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Main Nav</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">main-nav</a></li>
                        <li><a href="#!">main-nav__list</a></li>
                        <li><a href="#!">main-nav__list--education</a></li>
                        <li><a href="#!">main-nav__list--events</a></li>
                        <li><a href="#!">main-nav__list--funding</a></li>
                        <li><a href="#!">main-nav__button</a></li>
                        <li><a href="#!">main-nav__account</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Feature Section</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">feature-section</a></li>
                        <li><a href="#!">feature-section__contents</a></li>
                        <li><a href="#!">feature-section--left</a></li>
                        <li><a href="#!">feature-section--right</a></li>
                        <li><a href="#!">feature-section--hero</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Project Carousel</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">project-carousel</a></li>
                        <li><a href="#!">project-carousel__card</a></li>
                        <li><a href="#!">project-carousel__arrows</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Form</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">form-section</a></li>
                        <li><a href="#!">form-section__content</a></li>

                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Social Grid</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">social-grid</a></li>
                        <li><a href="#!">social-grid__card</a></li>
                        <li><a href="#!">social-grid__card--dark</a></li>
                        <li><a href="#!">social-grid__card--half</a></li>
                    </ul>
                </section>
                <section class="sidebar-nav__section">
                    <h2 class="sidebar-nav__heading"><a href="#!">Page Footer</a></h2>
                    <ul class="sidebar-nav__list">
                        <li><a href="#!">page-footer</a></li>
                        <li><a href="#!">page-footer__links</a></li>
                        <li><a href="#!">social-list</a></li>
                    </ul>
                </section>
            </nav>
        </div>
    </header>

    <div class="container components-page__main">
        <h1>Web Design System</h1>
        <p>This is a collection of components on my study of the design system of the
            <a href="https://www.nationalgeographic.org/">National Geographic</a>
            website.</p>
        <section id="typography" class="page-section">
            <h2 class="components-page__section-heading">Typography</h2>
            <article id="headings" class="component component--is--done">
                <h3 class="component__name">h1, h2, h3, ...</h3>
                <div class="component__img">
                    <img src="img/h2.png" alt="h2">
                    <img src="img/h3.png" alt="h3">
                    <img src="img/h4.png" alt="h4">
                    <img src="img/h5.png" alt="h5">
                </div>
                <div class="component__code">
                    <h2>We're all in this together.</h2>
                    <h3>Get Updates</h3>
                    <h4>We know that you may be limited to your yard (or j...</h4>
                    <h5>Connect</h5>
                </div>
            </article>
            <article id="body" class="component component--is--done">
                <h3 class="component__name">body</h3>
                <div class="component__img">
                    <img src="img/body.png" alt="body">
                </div>
                <div class="component__code">
                    <p>Learn how you can help change the world for the better. Get updates from our Explorers in the
                        field who are working to save wildlife and wild places, and learn about all our work to explore
                        and protect the planet.</p>
                </div>
            </article>
            <article id="a" class="component component--is--done">
                <h3 class="component__name">a</h3>
                <div class="component__img">
                    <img src="img/a.png" alt="a">
                </div>
                <div class="component__code">
                    <a href="#!">See More.</a>
                </div>
            </article>
        </section>
    </div>

</body>

</html>